* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-checkout {
  margin: 40px auto;
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-checkout {
  display: flex;
  padding: 20px 30px;
}

.product-checkout .image-product { 
  width: 30%;
  max-height: 330px;
}
.product-image-checkout {
  width: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.product-details-checkout {
  display: flex; 
  flex-direction: column;
  gap: 20px;
}

.product-details-checkout p {
  font-size: 14px;
  color: #555;
}

.product-details-checkout .rating-checkout{ 
  display: flex;
  align-items: center;
  gap: 10px;
}

.transaction-details {
  margin-bottom: 20px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.detail-row.total {
  font-weight: bold;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

.payment-methods h3 {
  margin-bottom: 10px;
}

.payment-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.payment-button.ovo { background-color: #662d91; color: #fff; }
.payment-button.bank { background-color: #ffcc00; color: #333; }

.pay-button {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pay-button:hover {
  background-color: #333;
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.pay-button:focus {
  outline: 3px solid #ffcc00; /* A clear focus outline for accessibility */
}

@media (max-width: 768px) {
  .container-checkout {
    width: 95%;
  }

  .product-checkout {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-image-checkout {
    width: 100px;
    height: 100px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .product-details-checkout h3 {
    font-size: 14px;
  }

  .transaction-details {
    font-size: 14px;
  }

  .pay-button {
    font-size: 14px;
  }
}
