.header-desktop { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    backdrop-filter: blur(5px);
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.brand { 
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.nav_desktop {
    display: flex;
}

.nav_desktop li {
    list-style-type: none;
    margin-left: 30px;
}

.nav_desktop li a { 
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif; 
    font-size: 14px;
}

.nav_desktop li a:hover { 
    border-bottom: 1px solid black;
}

.header-desktop .button-login {
    padding: 5px 20px;
    background-color: black;
    border-radius: 10px;
}

.header-desktop .button-login:hover { 
    background-color:#333; 
}

.header-desktop .button-login .login-start { 
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
}