.product-card {
    background-color: #fff;
    box-shadow: rgba(0,  0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 8px;
    cursor: pointer;
}

.product-card img { 
    height: 280px;
    width: 100%;
    min-width: 200px;
}

.product-card .title{ 
    font-size: 20px;
}