.profile-page {
    padding: 20px 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile .nav-hamburger {
    position: fixed;
    top: 100px;
    left: 0;
    margin-left: 5px;
}

.profile .nav-hamburger .MuiIconButton-root {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.profile-title .text {
    font-size: small;
}

.profile-container {
    background: white;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    padding: 30px 40px;
    width: 80%;
    transition: box-shadow 0.3s ease-in-out;
}

.profile-header {
    margin-bottom: 20px;
}

.profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: block;
    margin: 40px auto;
    transition: transform 0.3s ease-in-out;
}

.profile-picture:hover {
    transform: scale(1.10);
}

.informasi {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 16px;
    align-items: center;
}

.informasi .title {
    width: 20%;
}

.informasi .user-input {
    width: 60%;
}

.informasi .edit-button {
    color: white;
    border: none;
    width: 15%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.informasi .edit-button button {
    width: 66%;
    padding: 10px;
}

.text-input {
    width: 100%;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.text-input input {
    height: 45px;
    padding: 0 10px;
    border: 1px solid #ddd;
}

.text-input.email, .text-input.password {
    background-color: #f4f4f4;
    border: none;
}

.profile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.save-button, .logout-button {
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    position: relative;
    display: flex;
    align-items: center;
}

.logout-button {
    background-color: black;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.save-button {
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.save-button:hover, .logout-button:hover {
    background-color: #333;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.save-button:active, .logout-button:active {
    transform: scale(1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.save-button:before, .logout-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: opacity 0.3s;
    opacity: 0;
}

.save-button:hover:before, .logout-button:hover:before {
    opacity: 1;
}

@media (max-width: 768px) {
    .profile-container {
        max-width: 100%;
        padding: 20px;
    }

    .text-input {
        width: 85%;
        padding: 10px;
    }

    .title {
        margin-bottom: 10px;
    }

    .profile-name {
        font-size: 22px;
    }

    .profile-bio {
        font-size: 14px;
    }
}
.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }