* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 1440px;
  max-width: 1440px;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: #f9f9f9; 
  color: #333;
  position: relative;
  top: 80px;
  width: 100%;
}